
console-ef-samples/EntityFrameworkConsoleSample/.vs/

console-ef-samples/EntityFrameworkConsoleSample/EntityFrameworkConsoleSample/bin/

console-ef-samples/EntityFrameworkConsoleSample/EntityFrameworkConsoleSample/obj/

AspNetSamples/.vs/

AspNetSamples/AspNetSamples.Mvc/bin/

AspNetSamples/AspNetSamples.Mvc/obj/

AspNetSamples/AspNetSamples.Data/bin/

AspNetSamples/AspNetSamples.Data/obj/

AspNetSamples/AspNetSamples.Abstractions/bin/

AspNetSamples/AspNetSamples.Abstractions/obj/

AspNetSamples/AspNetSamples.Business/bin/

AspNetSamples/AspNetSamples.Business/obj/
/AspNetSamples/AspNetSamples.Core/obj
/AspNetSamples/AspNetSamples.Reposiories/bin/Debug/net6.0
/AspNetSamples/AspNetSamples.Reposiories/obj
/AspNetSamples/AspNetSamples.Core/bin/Debug/net6.0
/AspNetSamples/AspNetSamples.Business.Tests/bin/Debug/net6.0
/AspNetSamples/AspNetSamples.Business.Tests/obj
