@{
    ViewData["Title"] = "AspNetSample";
}

<div>@ViewData["SomeKey1"]</div>
<div>@ViewData["SomeKey2"]</div>
<div>@ViewData["SomeKey3"]</div>


@section Scripts
{
    <script>
        console.log('Hello world')
    </script>
}
 