@model CreateArticleWithSourceModel

<h3>Create article</h3>

<form asp-action="CreateArticleWithSource" asp-controller="Article" asp-antiforgery="true" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Title">Title</label>
        <input class="form-control" type="text" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ShortDescription">Short Description</label>
        <textarea class="form-control" rows="5" asp-for="ShortDescription"></textarea>
        <span asp-validation-for="ShortDescription"></span>
</div>
    <div class="mb-3">
        <label class="form-label" asp-for="FullText">Text</label>
        <textarea class="form-control" rows="10" asp-for="FullText"></textarea>
        <span asp-validation-for="FullText"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="SourceName">Source</label>
        <input class="form-control" asp-for="SourceName"/>
        <span asp-validation-for="SourceName"></span>
    </div>
    <div>
        <input type="submit" value="Confirm" />
    </div>
</form>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}



