<div class="btn-group" role="group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Register/Login
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-action="Register" asp-controller="Account">Register</a></li>
        <li><a class="dropdown-item" asp-action="Login" asp-controller="Account">Login</a></li>
    </ul>

    <button type="button" class="btn btn-primary" aria-expanded="false" onclick="loginModalShow()">
        Login with JS
    </button>

</div>